$foreground-color: var(--react-var-ui-foreground-color, #ddd);
$background-color: var(--react-var-ui-background-color, #11111a);
$accent-color: var(--react-var-ui-accent-color, #77f);
$input-background-color: var(--react-var-ui-input-background-color, #353542);
$input-background-hover-color: var(
  --react-var-ui-input-background-hover-color,
  #424253
);
$input-background-pressed-color: var(
  --react-var-ui-input-background-pressed-color,
  #2b2b37
);
$label-background-normal-color: var(
  --react-var-ui-label-background-normal-color,
  #22222a
);
$label-background-hover-color: var(
  --react-var-ui-label-background-hover-color,
  #2a2a33
);
$label-border-color: var(--react-var-ui-label-border-color, #33333a);
$transition-time: 0.2s;

.react-var-ui {
  background: $background-color;

  &-disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &-category {
    &-title {
      color: $foreground-color;
      text-transform: uppercase;
      font-size: 0.7rem;
      padding: 0.4rem;
      user-select: none;
    }

    padding-bottom: 1rem;
  }

  &-color {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 1rem;

    .sketch-picker {
      position: absolute;
      top: 1rem;
      right: -3rem;
    }

    &-color {
      position: relative;
      width: 2.5rem;
      height: 1.2rem;
      border-radius: 0.2rem;
    }

    &-swatch {
      border-radius: 0.2rem;
      display: inline-block;
      cursor: pointer;
      background: white
        url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARzQklUCAgICHwIZIgAAAAxSURBVDhPY2RgYBABYnzgDT5JxlEDGIZJGBBIBvjTCSgMCAG8CW3UAAZwQiIEaBuIACBfCLFwf0bOAAAAAElFTkSuQmCC')
        center center;
    }

    &-popover {
      position: absolute;
      z-index: 2;
    }

    &-cover {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &-toggle {
    position: relative;
    width: 2.5rem;
    height: 1.2rem;

    &-helper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $input-background-color;
      border-radius: 0.2rem;
      transition: $transition-time ease-in-out all;
      cursor: pointer;

      &:before {
        position: absolute;
        height: 0.8rem;
        width: 0.8rem;
        left: 0.3rem;
        top: 0.2rem;
        border-radius: 1rem;
        background-color: $foreground-color;
        content: '';
        transition: $transition-time ease-in-out all;
      }
    }

    input {
      width: 0;
      height: 0;
      opacity: 0.01;

      &:checked + .react-var-ui-toggle-helper {
        background: $accent-color !important;

        &:before {
          transform: translateX(1.1rem);
        }
      }
    }
  }

  select {
    width: 100%;
    background: $input-background-color;
    border: none;
    border-radius: 0.2rem;
    color: $foreground-color;
    padding: 0.2rem 0.5rem;

    &:hover,
    &:focus {
      background: $input-background-hover-color;
    }
  }

  &-string {
    &-multiline,
    input {
      width: 100%;
      background: $input-background-color;
      border: none;
      border-radius: 0.2rem;
      color: $foreground-color;
      padding: 0.2rem 0.5rem;
      outline: none !important;
      box-sizing: border-box;
      border-radius: 0.4rem;

      &:hover,
      &:focus {
        background: $input-background-hover-color;
      }
    }

    &-multiline {
      grid-column: 1 / 3;
      margin-top: 0.4rem;
      font-family: inherit;
      padding: 0.5rem;
      font-size: 0.8rem;
    }
  }

  &-label {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    color: $foreground-color;
    background: $label-background-normal-color;
    border-bottom: 1px solid $label-border-color;
    user-select: none;

    &:first-child {
      border-top: 1px solid $label-border-color;
    }

    &:hover {
      background: $label-background-hover-color;
    }

    & > span {
      display: flex;
      align-items: center;

      &:last-child {
        justify-content: flex-end;
      }
    }

    &-has-label {
      & > span {
        &:first-child {
          margin-right: 0.2rem;
        }
      }
    }

    &-no-label {
      grid-template-columns: 1fr;
    }
  }

  &-slider,
  &-number {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    &-track {
      background: $input-background-color;
      position: relative;
      flex: 1;
      height: 1.3rem;
      border-radius: 0.2rem;
      overflow: hidden;
      cursor: pointer;
      margin-right: 0.4rem;
      touch-action: none;
    }

    &-content {
      background: $accent-color;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
    }

    input {
      width: 2.5rem;
      background: $label-background-normal-color;
      border: none;
      -moz-appearance: textfield;
      color: $foreground-color;
      outline: none !important;
      height: 1.3rem;
      padding: 0 0.2rem;
      text-align: right;
      border-radius: 0.25rem;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    span {
      width: 2.5rem;
      text-align: right;
    }

    button {
      background: $label-background-normal-color;
      border: none;
      cursor: pointer;
      color: $foreground-color;
      height: 1.3rem;
      margin-left: 0.4rem;
      border-radius: 0.25rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-number {
    input {
      background: $input-background-color;

      &:hover,
      &:focus {
        background: $input-background-hover-color;
      }
    }
  }

  &-xy {
    grid-column: 1 / 3;

    &-value {
      display: inline-block !important;
      text-align: right;
    }

    &-space {
      margin-top: 0.5rem;
      margin-bottom: 0.3rem;
      width: 100%;
      height: 250px;
      background: $input-background-color;
      position: relative;
      cursor: pointer;
      border-radius: 0.4rem;
      overflow: hidden;
      touch-action: none;
    }

    &-control {
      background: $accent-color;
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      transform: translate(-50%, -50%);
      position: absolute;
      pointer-events: none;

      &:after,
      &:before {
        content: '';
        position: absolute;
        background: $accent-color;
        opacity: 0.5;
      }

      &:before {
        top: -100rem;
        bottom: -100rem;
        left: calc(50% - 1px);
        width: 1px;
      }

      &:after {
        left: -100rem;
        right: -100rem;
        top: calc(50% - 1px);
        height: 1px;
      }
    }
  }

  &-angle {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;

    &-value {
      justify-content: flex-end;
    }

    &-control {
      width: 6rem;
      height: 6rem;
      background: $input-background-color;
      position: relative;
      border-radius: 100%;
      cursor: pointer;
      touch-action: none;

      &:after {
        display: block;
        position: absolute;
        left: calc(50% - 0.5rem);
        top: 0.5rem;
        width: 1rem;
        height: 1rem;
        background: $accent-color;
        border-radius: 100%;
        content: '';
      }
    }
  }

  &-button {
    button {
      width: 100%;
      color: $foreground-color;
      background: $input-background-color;
      border: none;
      border-radius: 0.4rem;
      padding: 0.4rem 1rem;
      cursor: pointer;

      &:hover {
        background: $input-background-hover-color;
      }

      &:active {
        background: $input-background-pressed-color;
      }
    }
  }
}
